@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import 'tailwindcss';

@theme {
	--color-pedia-black: #262626;
	--color-pedia-black-secondary: #313131;
	--color-pedia-red: #ff4848;
	--color-pedia-white: #fbfbfb;
	--color-pedia-white-secondary: #e5e5e5;
}

body {
	font-family: 'Inter', sans-serif;
	background-color: var(--color-pedia-white-secondary);
}
